
<div class="dashboard-container">
  <!-- Contenedor de los dashboards de la izquierda -->
  <div class="left-dashboard-container left-right-margin">
    <div class="dashboard-item horizontal">
      <div class="chart-container">
        <canvas id="chart1" style="height: 500px; width: 1550px;"></canvas>
      </div>
    </div>
    <div class="dashboard-item horizontal">
      <div class="chart-container">
        <canvas id="chart2" style="height: 500px; width: 1550px;"></canvas>
      </div>
    </div>
  </div>
  <!-- Dashboard de la derecha -->
  <div class="dashboard-item vertical">
    <div class="water-tank-container">
      <p>Nivel de Agua</p>
      <div class="water-tank">
        <div class="water" [style.height.%]="currentWaterLevel"></div>
      </div>
      <img src="assets/2-removebg-preview.png" alt="Imagen" class="overlay-image">
      <div class="water-level">{{ currentWaterLevel }}%</div>
    </div>
    <div class="blank-div"></div>
</div>