#inicio {
    text-align: center;
    background-color: white;
}



/* Estilos para la tabla */
.table-container {
margin-top: 20px;
display: flex;
justify-content: center;

}


.centered-table {
width: 80%;
border-collapse: collapse;
border: 1px solid #ccc;
table-layout: fixed; /* Asegura que las celdas tengan un ancho fijo */

}


.centered-table td {
padding: 8px;
border: 1px solid #ccc;
text-align: center;
}


/* Agregar estilos de borde a la tabla */
.centered-table {
border: 2px solid #333;
}


.centered-table th,
.centered-table td {
border: 1px solid #ccc;
padding: 10px;
}
/* Estilos para el carrusel más pequeño */
.carousel-sm {
max-width: 1060px; /* Ajusta el tamaño máximo del carrusel */
margin: 0 auto; /* Centra el carrusel horizontalmente */
}


/* Estilos para las imágenes más pequeñas */
.carousel-inner img {
max-height: 500px; /* Ajusta el tamaño máximo de altura de las imágenes */
}

h1{
    margin-bottom: 70px;
    font-weight: bold;
}

#parrafos{
    margin-left: 280px;
    margin-right: 280px;
    margin-bottom: 50px;
    margin-top: 50px;
}
#parrafos p{
    text-align: justify;
}
.centered-table img{
    width: 200px;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
    margin-bottom: 15px;
}
.centered-table p{
    margin-top: 10px;
    font-weight: bold;
}

.carousel {
    position: relative;
    width: 100%;
    max-width: 800px; /* Ajusta el ancho según tus necesidades */
    margin: 0 auto;
    overflow: hidden;
  }
  
  .slides {
    display: flex;
    transition: transform 0.5s ease;
  }
  
  .slide {
    flex: 0 0 100%;
    width: 100%;
  }
  
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    padding: 10px;
  }
  
  .prev {
    left: 0;
  }
  
  .next {
    right: 0;
  }
  
  /* Para ocultar las flechas cuando no haya más diapositivas */
  .prev.disabled, .next.disabled {
    pointer-events: none;
    opacity: 0.5;
  }
  