<div class="content">
    <section id="inicio">
    <h1>¡Bienvenido a la Granja Avícola Los Mijos!</h1>
    

    <div id="carouselExampleIndicators" class="carousel slide carousel-sm">
    <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
    <div class="carousel-item active">
    <img src="assets/pollo3.jpg" class="d-block w-100" alt="Pollo levantado">
    </div>
    <div class="carousel-item">
    <img src="assets/pollo2.jpg" class="d-block w-100" alt="Muchos pollos">
    </div>
    <div class="carousel-item">
    <img src="assets/pollo.jpg" class="d-block w-100" alt="criadero de pollos">
    </div>
    </div>
    <br>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
    </button>
    </div>
    

    <p>En la Granja Avícola Los Mijos, nos enorgullecemos de ofrecer un entorno excepcional para la crianza de aves de corral, asegurando su bienestar y el más alto nivel de cuidado. Nuestra granja está equipada con tecnología avanzada y sistemas automatizados que nos permiten mantener un ambiente óptimo para nuestras aves.</p>
    <p>Una de las características más destacadas de la Granja Avícola Los Mijos es nuestra capacidad para activar automáticamente diversos sistemas en función de situaciones específicas. Gracias a sensores inteligentes y al monitoreo constante, podemos detectar condiciones ambientales, niveles de alimentación y comportamiento de las aves en tiempo real.</p>
    

    <div class="table-container">
    <table class="centered-table">
    <thead>
    <tr>
    <th>Sensor</th>
    <th>Informacion</th>
    </tr>
    </thead>
    <tbody>
    <!-- Aquí puedes agregar filas con datos de los sensores y actuadores -->
    <tr>
    <td>Datos del Sensor</td>
    <td>Control de Actuadores</td>
    </tr>
    </tbody>
    </table>
    </div>
    </section>
    </div>
