/* Estilos para el formulario */
.card {
    width: 360px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin: 0 auto; /* Centrar horizontalmente */
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .card-header {
    font-weight: bold;
    background-color: #f2f2f2;
    padding: 8px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .form-control {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .btn-primary {
    background-color: #007bff;
    color: #fff;
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%; /* Ajustar el ancho del botón al 100% del contenedor */
    max-width: 150px; /* Establecer un ancho máximo para el botón */
    margin-top: 15px; /* Espacio entre el formulario y el botón */
  }
  

  .error-toast {
    background-color: #f44336; /* Color de fondo del toast de error */
    color: white;
    padding: 16px;
    position: fixed;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    animation: fade-in 0.3s ease-out, fade-out 0.3s 2s ease-out;
  }
  
  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes fade-out {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }