.card{
    width: 460px;
    height: 375px;
}
.card-header{
    font-size: 20px;
    font-weight: bold;
    padding: 15px;
}
.form-group{
    margin-bottom: 20px;
}
.btn-primary{
    padding: 15px;
    width: 150px;
    height: 60px;
}