.footer-p {
    font-size: 18px;
    line-height: 1.5;
    color: rgb(0, 0, 0);
  }
  
  footer {
    background: url("../../assets/source/suelo.png") no-repeat center;
    background-size: cover;
    color: #000000;
    padding: 20px;
    text-align: center;
    position: relative; /* Cambiar a posición relativa */
  }
  