<header>
    <h1 class="titulo">Crianza Avicola los mijos</h1>
    <nav>
        <ul>
            <li><a routerLink= "/inicio">Inicio</a></li>
            <ng-container *ngIf="!authService.loggedIn(); else loggedIn">
                <li><a routerLink="/login">Acceso</a>
            </ng-container>
            <ng-template #loggedIn>
                <li><a routerLink="/private">Gestion</a></li>
                <li><a style="cursor: pointer;"(click)="authService.logout()">Salir</a></li>
              </ng-template>
        </ul>
    </nav>
</header>

